<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div class="main">
        <h3>Enter your login credentials</h3>
        
<div th:if="${session.massage}" class="alert alert-warning" role="alert" th:text="${session.message}"></div>

        

<div th:if="${session.message}" class="alert alert-warning" role="alert" th:text="${session.message}"></div>


        <form th:action="@{/changepass}" method="post">
            <label for="first">
                	New Password:-
            </label>
            <input type="text" id="first" name="np" 
                placeholder="Enter your Email" required>

 <label for="first">
                	Conform Password:-
            </label>
            <input type="text" id="first" name="cp" 
                placeholder="Enter your Email" required>

            

            <div class="wrap">
                <button type="submit">
                    Submit
                </button>
            </div>
        </form>
        
       
    
    </div>
</body>
</html>