<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="user/base :: Layout(~{::section})">
 
<section>
   <div class="card-body mt-4">
      <h1 class="text-center">Add Contact</h1>

      <div class="container-fluid mt-1">
         <div class="row">
            <div class="col-md-10 offset-md-1">
               <form 
                  th:object="${contact}"  
                  enctype="multipart/form-data" 
                  method="post" 
                  th:action="@{/user/post-contact}" 
                  class="mt-2"
               >
                  <!-- First Name -->
                  <div class="input-group mb-3">
                     <div class="input-group-prepend">
                        <div class="input-group-text">
                           <i class="fa fa-plus"></i>
                        </div>
                     </div>
                     <input 
                        type="text" 
                        id="name1" 
                        name="name" 
                        placeholder="Enter Name Here" 
                        class="form-control" required="required"
                     >
                  </div>

                  <!-- You can add more fields here, e.g., email, phone, etc. -->


         <!-- Second Name -->
                  <div class="input-group mt-3">
                     <div class="input-group-prepend">
                        <div class="input-group-text">
                           <i class="fas fa-user-alt"></i>
                        </div>
                     </div>
                     <input 
                        type="text" 
                        id="secondname" 
                        name="secondName" 
                        placeholder="Enter Second Name" 
                        class="form-control"
                         required="required"
                     >
                  </div>




         <!-- phone -->
                  <div class="input-group mt-3">
                     <div class="input-group-prepend">
                        <div class="input-group-text">
                           <i class="fas fa-phone"></i>
                        </div>
                     </div>
                     <input 
                        type="number" 
                        id="phone1" 
                        name="phone" 
                        placeholder="Enter Phone Number Here" 
                        class="form-control"
                         required 
                     >
                  </div>
                  
                  
                   <!-- Email -->
                  <div class="input-group mt-3">
                     <div class="input-group-prepend">
                        <div class="input-group-text">
                          @
                        </div>
                     </div>
                     <input 
                        type="email" 
                        id="email1" 
                        name="email" 
                        placeholder="Enter Email Here" 
                        class="form-control"
                     required="required"
                     >
                  </div>
                  
                 
    <!-- working field -->
                  <div class="input-group mt-3">
                     <div class="input-group-prepend">
                        <div class="input-group-text">
                           <i class="fas fa-briefcase"></i>
                        </div>
                     </div>
                     <input 
                        type="text" 
                        id="work1" 
                        name="work" 
                        placeholder="Enter Work Here" 
                        class="form-control"
                     >
                  </div>
   
   <!--  Discripation  -->
   
  \
                  <div class="input-group mt-3">
                     <textarea  name="description"  id="mytextarea" placeholder="Enter Contact Discription" rows="10" cols="120"></textarea>
                  </div>
   
  
   
   <div class="custom-file">
   <input type="file" name="p">
   </div>

                  <!-- Submit Button -->
                  <div class="text-center">
                  <button type="submit" class="btn btn-primary mt-3">Save Contact</button>
             </div>
               </form>
            </div>
         </div>
      </div>
   </div>
   
<!--  
 this is for text editor work hone ka hai
 <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
      tinymce.init({
        selector: '#mytextarea'
      });
    </script>
 
 -->
 

</section>

</html>