<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="Layout(content)">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
          
          <title th:text="${title}">Base html</title>
          <!--copy cdn from   https://cdnjs.com/libraries/font-awesome/5.15.4  -->
        
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
   <link rel="stylesheet" th:href="@{/css/index.css}">
   
</head>
<body>

  <nav  class="navbar fixed-top   navbar navbar-expand-lg navbar-light bg-dark  bg-primary">
 <a class="navbar-brand text-center" href="#">Smart Contact Manager</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto text-uppercase" >
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      
     
      
      <li class="nav-item">
        <a class="nav-link disabled" href="#" th:href=@{/log}><samp th:text="${user.name}"></samp></a>
      </li>
      
      <li class="nav-item">
        <a  th:href="@{/logout}" class="nav-link">Logout</a>
      </li>
      
    </ul>
  </div>
</nav>

<!-- Thise Side BAr -->
<div class="sidebar mt-5">
<span class="cross" onclick="toggleFunction()">&times;</span>

   <a  th:href="@{/user/index}" class="item"> <i class="fa-solid fa-house"></i> Home </a>
    <a href="#" class="item"> <i class="fa-solid fa-address-book"></i> View Contact</a>
     <a th:href="@{/user/add}" class="item"><i class="fa-solid fa-address-card"></i> Add Contact</a>
      <a href="#" class="item"><i class="fa-solid fa-user"></i> Your Profile</a>
       <a th:href="@{/logout}"class="item"><i class="fa-solid fa-right-from-bracket"></i> Logout</a>
</div>




    <!-- Content block to be replaced -->
    <div class="contain mt-2">
    
    <i onclick="toggleFunction()" class="fas fa-bars mt-5"></i>
    
    
    
  <section th:fragment="Layout(content)">
  <div th:replace="${content}"></div>
</section>
</div>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
            
            <script th:src="@{/js/index.js}"></script>

</body>
</html>
