<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="base :: Layout(~{::section})">
<section class="banner d-flex justify-content-center align-items-center">

  <div>
  
  <h1 class="front-weight-bold">Smart Contact Manager</h1>
  <p>
  start collecting your contact in very smarter way. we provide
  very efficient and smarter way of handling contacts.
  
  </p>
  
  <button class="btn btn-primary btn-lg text-white">Get Start</button>
  </div>
  
   </section>
</html>
